<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HIPARKING PO실</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- 상단 헤더 -->
<div class="top-header">
    <div class="title">HIPARKING PO실</div>
    <div class="sub-title">HIAS (Hiparking Institute For Advanced Study)</div>
</div>

<!-- 페이지별 컨텐츠 -->
<div class="content">
    {% block content %}
    {% endblock %}
</div>

<!-- 오른쪽 아래 짱구 -->
<img src="/static/jjanggu.png" class="floating-jjanggu">

</body>
</html>
